.content {
  width: 920px;
  max-width: 100%;
  margin: 0 auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.px-4 {
  padding: 20px;
}

.search-results {
  margin-top: 20px;
}

.search-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--tm-blue);
  margin-bottom: 16px;
}